<div class="main-body">
    <div class="menu" (click)="isExpanded = !isExpanded" [ngClass]="isExpanded ? 'expanded' : ''">
        <i class="fa-solid" [ngClass]="isExpanded ? 'fa-xmark': 'fa-bars'"></i>
    </div>
    <div class="nav-bar" [ngClass]="isExpanded ? 'expanded' : ''">
        <div class="nav-profile">
            <div class="content">
                <img src="assets\images\download.png" alt="">
                <span>Welcome Prashanth</span>
            </div>
        </div>
        <div class="nav-lists">
            <ul>
                <li><a routerLink="home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="about" routerLinkActive="active">About</a></li>
                <li><a routerLink="career" routerLinkActive="active">Career</a></li>
                <li><a routerLink="">Setting</a></li>
                <li><a routerLink="product" routerLinkActive="active">Products</a></li>
                <li><a routerLink="order" routerLinkActive="active">Order Details</a></li>
            </ul>
        </div>
        <div class="nav-footer">
            <div class="content">
                <a routerlink>Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </div>
        </div>
    </div>
    <div class="body" [ngClass]="isExpanded ? 'expanded' : ''">
        <router-outlet></router-outlet>
    </div>
</div>
